.circle-container {
    display: flex;
    flex-direction: row;
}

.circle {
    border-radius: 50px;
    color: white;
    font-family: sans-serif;
    font-size: 42px;
    height: 50px;
    margin: 12px;
    padding: 20px;
    text-align: center;
    width: 50px;
}

.red {
    background-color: red;
}

.yellow {
    background-color: gold;
}

.green {
    background-color: limegreen;
}