@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
    font-size: 20px;
    font-family: "Lato", sans-serif;
    margin: 0; /* remove default margin */
}

.nav-bar {
    display: flex;
    gap: 40px;
    align-items: center;
    padding: 10px 20px 20px 20px;
    background-color: #ffffff;
    border-bottom: 1px solid #969696;
}
.nav-item {
    color: #000000;
    text-decoration: none;
    transition: transform 0.2s ease-in-out;
    transform: translateX(0px);
}
.nav-item:hover {
    transform: translateY(-2px);
    color: #8e8c8c;
}