.flag-container {
    display: flex;
    align-items: center;
}
.flag {
    display: flex;
    width: 300px;
    height: 200px;
}
.stripe-blue {
    background-color: #0c2651;
    flex: 1;
}

.stripe-white {
    background-color: white;
    flex: 1;
}

.stripe-red {
    background-color: #b52831;
    flex: 1;
}

.country-name {
    font-family: sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin-left: 20px;
}