/* Write your CSS here. */
/*body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}*/

.quote-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid #777474;
    border-radius: 0px;
    padding: 20px; 
    /*margin: 0 auto;*/
    /*text-align: center;*/
    width: 300px;
}
.quote-image {
    width: 200px;
    height: 200px;
    border-radius: 100%;
}
.quote-body {
    font-family: sans-serif;
    font-size: 32px;
    color: black;
    text-align: left;
    align-self: stretch;
}
.quote-author {
    font-family: sans-serif;
    font-size: 26px;
    color: #7f8c8d;
    text-align: left;
    align-self: stretch;
}