/* Write your CSS here. */
.quote-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid #777474;
    border-radius: 0px;
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
    text-align: center;
    height: 100%;
    width: 45%;
}
.quote-image {
    width: 200px;
    height: 200px;
    border-radius: 200px;
}
.quote-body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 2.75em;
    font-weight: 400;
    color: black;
    line-height: 1.35;
    text-align: left;
    align-self: stretch;
    margin: 0;
}
.quote-author {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 1.5em;
    font-weight: 400;
    color: #7f8c8d;
    text-align: left;
    align-self: stretch;
    margin-top: 0.5em;
    margin-bottom: 0;
}